webapp/OjekService/src/Database/Database.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://Database/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Database/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Database/" schemaLocation="Database_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getName"/>
  <message name="getNameResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="setName">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="setNameResponse"/>
  <message name="close"/>
  <message name="closeResponse"/>
  <message name="executeQuery">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="executeQueryResponse">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException"/>
  </message>
  <message name="setHost">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="setHostResponse"/>
  <message name="executeUpdate">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="executeUpdateResponse"/>
  <message name="refresh"/>
  <message name="refreshResponse"/>
  <message name="setPassword">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="setPasswordResponse"/>
  <message name="setUser">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="setUserResponse"/>
  <message name="setDbName">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="setDbNameResponse"/>
  <portType name="Database">
    <operation name="getName">
      <input ns1:Action="http://Database/Database/getNameRequest" message="tns:getName" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://Database/Database/getNameResponse" message="tns:getNameResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setName">
      <input ns3:Action="http://Database/Database/setNameRequest" message="tns:setName" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://Database/Database/setNameResponse" message="tns:setNameResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="close">
      <input ns5:Action="http://Database/Database/closeRequest" message="tns:close" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://Database/Database/closeResponse" message="tns:closeResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="executeQuery">
      <input ns7:Action="http://Database/Database/executeQueryRequest" message="tns:executeQuery" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://Database/Database/executeQueryResponse" message="tns:executeQueryResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:SQLException" name="SQLException" ns9:Action="http://Database/Database/executeQuery/Fault/SQLException" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setHost">
      <input ns10:Action="http://Database/Database/setHostRequest" message="tns:setHost" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns11:Action="http://Database/Database/setHostResponse" message="tns:setHostResponse" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="executeUpdate">
      <input ns12:Action="http://Database/Database/executeUpdateRequest" message="tns:executeUpdate" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns13:Action="http://Database/Database/executeUpdateResponse" message="tns:executeUpdateResponse" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"/>
      <fault message="tns:SQLException" name="SQLException" ns14:Action="http://Database/Database/executeUpdate/Fault/SQLException" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="refresh">
      <input ns15:Action="http://Database/Database/refreshRequest" message="tns:refresh" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns16:Action="http://Database/Database/refreshResponse" message="tns:refreshResponse" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setPassword">
      <input ns17:Action="http://Database/Database/setPasswordRequest" message="tns:setPassword" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns18:Action="http://Database/Database/setPasswordResponse" message="tns:setPasswordResponse" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setUser">
      <input ns19:Action="http://Database/Database/setUserRequest" message="tns:setUser" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns20:Action="http://Database/Database/setUserResponse" message="tns:setUserResponse" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setDbName">
      <input ns21:Action="http://Database/Database/setDbNameRequest" message="tns:setDbName" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns22:Action="http://Database/Database/setDbNameResponse" message="tns:setDbNameResponse" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

